@model IEnumerable<API.Models.RoleViewModel>
@{
    ViewData["Title"] = "Role Management";
}

<h1>Roles</h1>
<a asp-action="Create" class="btn btn-primary">Add Role</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Title</td>
                <td>
                    <!-- Edit Form -->
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning d-inline">Edit</a>
                    <!-- Delete Form -->
                    <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger d-inline">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>